{
  "env": {
    "browser": true,
    "es6": true,
    "es2020": true
  },
  "extends": [
    "airbnb-typescript",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import",
    "react",
    "react-hooks"
  ],
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "legacyDecorators": true,
      "experimentalDecorators": true,
      "jxs": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/prop-types": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2
      }
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "quotes": ["error", "single", {
      "allowTemplateLiterals": true
    }],
    "semi": "off",
    "import/named": 2,
    "import/prefer-default-export": 0,
    "import/extensions": ["error", "never", {
      "json": "always",
      "svg": "always"
    }],
    "import/no-unresolved": "off",
    "import/export": 0,
    "no-restricted-syntax": "off"
  }
}
