<!DOCTYPE html>
<html lang="en">

<head lang="en">
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <base href="/" />
</head>

<body>
  <div class="game_root"></div>
  <div class="app_modals"></div>
  <% for (var chunk in htmlWebpackPlugin.files.js) { %>
  <script defer src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
  <% } %>
</body>

</html>
